QWidget {
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

QPushButton#TitleMinimezeBtn{border:0px;background:transparent;border-image:url(:/Img/res/MainHead_18x18.png) 0 54 0 36 repeat; }
QPushButton#TitleMinimezeBtn:hover:!pressed {border-image:url(:/Img/res/MainHead_18x18.png) 18 54 0 36 repeat;}
QPushButton#TitleMinimezeBtn:hover:pressed {border-image:url(:/Img/res/MainHead_18x18.png) 36 54 0 36 repeat;}

QPushButton#TitleMaximizeBtn{border:0px;background:transparent;border-image:url(:/Img/res/MainHead_18x18.png) 0 36 0 54 repeat; }
QPushButton#TitleMaximizeBtn:hover:!pressed {border-image:url(:/Img/res/MainHead_18x18.png) 18 36 0 54 repeat;}
QPushButton#TitleMaximizeBtn:hover:pressed {border-image:url(:/Img/res/MainHead_18x18.png) 36 36 0 54 repeat;}

QPushButton#TitleCloseBtn{border:0px;background:transparent;border-image:url(:/Img/res/MainHead_18x18.png) 0 18 0 72 repeat; }
QPushButton#TitleCloseBtn:hover:!pressed {border-image:url(:/Img/res/MainHead_18x18.png) 18 18 0 72 repeat;}
QPushButton#TitleCloseBtn:hover:pressed {border-image:url(:/Img/res/MainHead_18x18.png) 36 18 0 72 repeat;}

QPushButton#TitleRestoreBtn{border:0px;background:transparent;border-image:url(:/Img/res/MainHead_18x18.png) 0 0 0 90 repeat; }
QPushButton#TitleRestoreBtn:hover:!pressed {border-image:url(:/Img/res/MainHead_18x18.png) 18 0 0 90 repeat;}
QPushButton#TitleRestoreBtn:hover:pressed {border-image:url(:/Img/res/MainHead_18x18.png) 36 0 0 90 repeat;}

QPushButton{
        border-radius: 4px;
        border: none;
        width: 75px;
        height: 25px;
}
QPushButton:enabled {
        background: rgb(68, 69, 73);
        color: white;
}
QPushButton:!enabled {
        background: rgb(100, 100, 100);
        color: rgb(200, 200, 200);
}
QPushButton:enabled:hover{
        background: rgb(85, 85, 85);
}
QPushButton:enabled:pressed{
        background: rgb(80, 80, 80);
}

/**********下拉列表**********/
QComboBox {
        height: 25px;
        border-radius: 4px;
        border: 1px solid rgb(100, 100, 100);
        background: rgb(72, 72, 73);
}
QComboBox:enabled {
        color: rgb(230, 230, 230);
}
QComboBox:!enabled {
        color: rgb(155, 155, 155);
}
QComboBox:enabled:hover, QComboBox:enabled:focus {
        color: rgb(230, 230, 230);
        background: rgb(68, 69, 73);
}
QComboBox::drop-down {
        width: 20px;
        border: none;
        background: rgb(120, 120, 120);
}
QComboBox::drop-down:hover {
        background: rgba(255, 255, 255, 30);
}

QComboBox QAbstractItemView {
        border: 1px solid rgb(100, 100, 100);
        background: rgb(68, 69, 73);
		color: rgb(230, 230, 230);
        outline: none;
}
QComboBox QAbstractItemView::item {
        height: 25px;
        color: rgb(175, 175, 175);
}
QComboBox QAbstractItemView::item:selected {
        background: rgba(255, 255, 255, 40);
        color: rgb(230, 230, 230);
}


QComboBox QAbstractScrollArea QScrollBar:vertical {
    width: 20px;
    background: rgb(68, 69, 73);   /* 空白区域的背景色  灰色green */
}

/**********微调器**********/
QSpinBox {
        border-radius: 4px;
        height: 24px;
        min-width: 40px;
        border: 1px solid rgb(100, 100, 100);
        background: rgb(68, 69, 73);
}
QSpinBox:enabled {
        color: rgb(220, 220, 220);
}
QSpinBox:enabled:hover {
        color: rgb(230, 230, 230);
}
QSpinBox:!enabled {
        color: rgb(65, 65, 65);
        background: transparent;
}
QSpinBox::up-button {
        width: 18px;
        height: 12px;
        border-top-right-radius: 4px;
        border-left: 1px solid rgb(100, 100, 100);
        //image: url(:/Black/upButton);
        background: rgb(50, 50, 50);
}
QSpinBox::up-button:!enabled {
        border-left: 1px solid gray;
        background: transparent;
}
QSpinBox::up-button:enabled:hover {
        background: rgb(255, 255, 255, 30);
}
QSpinBox::down-button {
        width: 18px;
        height: 12px;
        border-bottom-right-radius: 4px;
        border-left: 1px solid rgb(100, 100, 100);
        image: url(:/Black/downButton);
        background: rgb(50, 50, 50);
}
QSpinBox::down-button:!enabled {
        border-left: 1px solid gray;
        background: transparent;
}
QSpinBox::down-button:enabled:hover {
        background: rgb(255, 255, 255, 30);
}